
<div class="messageContainer" id="xxx" fxLayout="column" >
<!--  fxLayoutAlign="space-around center"-->
  <div>
    Twoje hasło do konwersacji, zapamiętaj je albo zapisz: {{twojeHaslo}}
  </div>
  <ul class = "chatList">
    <li *ngFor="let message of messages">
      <br/>
      <div *ngIf="!message.sentByDoctor"><div class="messageBox"><div class="userMessageBox">{{message.body}}</div></div></div>
      <div *ngIf="message.sentByDoctor"><div class="messageBox"><div class="serverMessageBox">{{message.body}}</div></div></div>
    </li>
  </ul>
  <div class="writeMessage">
    <mat-form-field fxFlex="85" fxLayout="column" fxLayoutAlign="space-around" style="float: left; ">
      <mat-label style="float: right">Napisz wiadomość</mat-label>
      <div style="display: inline">
      <textarea style="float: left; margin-right: 5%" matInput name="inputMessage" [(ngModel)]="chatMessage"
                (keyup.enter)="sendMessage(chatMessage)"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"></textarea></div>
    </mat-form-field>
    <div style="display: inline-block">
    <button  style="margin-left: 25%; word-wrap: break-word; margin-right: 5%" fxLayout="column" mat-raised-button
             color="primary"
            (click)="sendMessage(chatMessage)"
            mat-dialog-close>Wyślij</button>
    </div>
  </div>
</div>

